*
!/app
!/bootstrap
!/config
!/database
!/public
/public/hot
/public/storage
!/resources
!/routes
!/storage
/storage/logs/*.log
!.env.production
!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!webpack.mix.js
!westwing.apache.conf
