// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.tickets {
    th, td {
        &:nth-child(1), &:nth-child(2), &:nth-child(5) {
            text-align: right;
        }

        &:nth-child(3), &:nth-child(4) {
            text-align: left;
        }
    }
}

.ticket-details {
    th {
        border-right: 1px solid #dee2e6;
        width: 1%;
        white-space: nowrap;
    }
}
